@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,500i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:300,400");
.default,
.hover-default:hover {
  background-color: #9e9e9e;
  color: #fff;
}
.primary,
.hover-primary:hover {
  background-color: #9c27b0;
  color: #fff;
}
.info,
.hover-info:hover {
  background-color: #00bcd4;
  color: #fff;
}
.success,
.hover-success:hover {
  background-color: #8bc34a;
  color: #fff;
}
.warning,
.hover-warning:hover {
  background-color: #ff9800;
  color: #fff;
}
.danger,
.hover-warning:hover {
  background-color: #f44336;
  color: #fff;
}
.text-default,
.hover-text-default:hover {
  color: #9e9e9e;
}
.text-primary,
.hover-text-primary:hover {
  color: #9c27b0;
}
.text-info,
.hover-text-info:hover {
  color: #00bcd4;
}
.text-success,
.hover-text-success:hover {
  color: #8bc34a;
}
.text-warning,
.hover-text-warning:hover {
  color: #ff9800;
}
.text-danger,
.hover-text-danger:hover {
  color: #f44336;
}
.border-default,
.hover-border-default:hover {
  border-color: #9e9e9e;
}
.border-primary,
.hover-border-primary:hover {
  border-color: #9c27b0;
}
.border-info,
.hover-border-info:hover {
  border-color: #00bcd4;
}
.border-success,
.hover-border-success:hover {
  border-color: #8bc34a;
}
.border-warning,
.hover-border-warning:hover {
  border-color: #ff9800;
}
.border-danger,
.hover-border-danger:hover {
  border-color: #f44336;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: 0.01em;
  line-height: 1.6;
}
.btn {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.btn,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  background-color: #9c27b0;
  border: 0.1rem solid #9c27b0;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  font-weight: 700;
  height: 3.8rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  padding: 0 1.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn:focus,
button:focus,
input[type='button']:focus,
input[type='reset']:focus,
input[type='submit']:focus,
.btn:hover,
button:hover,
input[type='button']:hover,
input[type='reset']:hover,
input[type='submit']:hover {
  background-color: #89229b;
  border-color: #89229b;
  color: #fff;
  outline: 0;
}
.btn[disabled],
button[disabled],
input[type='button'][disabled],
input[type='reset'][disabled],
input[type='submit'][disabled] {
  cursor: auto;
  opacity: 0.5;
}
.btn[disabled]:focus,
button[disabled]:focus,
input[type='button'][disabled]:focus,
input[type='reset'][disabled]:focus,
input[type='submit'][disabled]:focus,
.btn[disabled]:hover,
button[disabled]:hover,
input[type='button'][disabled]:hover,
input[type='reset'][disabled]:hover,
input[type='submit'][disabled]:hover {
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.btn.btn-outline,
button.btn-outline,
input[type='button'].btn-outline,
input[type='reset'].btn-outline,
input[type='submit'].btn-outline {
  background-color: transparent;
  color: #9c27b0;
}
.btn.btn-outline:focus,
button.btn-outline:focus,
input[type='button'].btn-outline:focus,
input[type='reset'].btn-outline:focus,
input[type='submit'].btn-outline:focus,
.btn.btn-outline:hover,
button.btn-outline:hover,
input[type='button'].btn-outline:hover,
input[type='reset'].btn-outline:hover,
input[type='submit'].btn-outline:hover {
  background-color: transparent;
  border-color: #89229b;
  color: #89229b;
}
.btn.btn-outline[disabled]:focus,
button.btn-outline[disabled]:focus,
input[type='button'].btn-outline[disabled]:focus,
input[type='reset'].btn-outline[disabled]:focus,
input[type='submit'].btn-outline[disabled]:focus,
.btn.btn-outline[disabled]:hover,
button.btn-outline[disabled]:hover,
input[type='button'].btn-outline[disabled]:hover,
input[type='reset'].btn-outline[disabled]:hover,
input[type='submit'].btn-outline[disabled]:hover {
  border-color: inherit;
  color: #9c27b0;
}
.btn.btn-clear,
button.btn-clear,
input[type='button'].btn-clear,
input[type='reset'].btn-clear,
input[type='submit'].btn-clear {
  background-color: transparent;
  border-color: transparent;
  color: #9c27b0;
}
.btn.btn-clear:focus,
button.btn-clear:focus,
input[type='button'].btn-clear:focus,
input[type='reset'].btn-clear:focus,
input[type='submit'].btn-clear:focus,
.btn.btn-clear:hover,
button.btn-clear:hover,
input[type='button'].btn-clear:hover,
input[type='reset'].btn-clear:hover,
input[type='submit'].btn-clear:hover {
  background-color: transparent;
  border-color: transparent;
  color: #89229b;
}
.btn.btn-clear[disabled]:focus,
button.btn-clear[disabled]:focus,
input[type='button'].btn-clear[disabled]:focus,
input[type='reset'].btn-clear[disabled]:focus,
input[type='submit'].btn-clear[disabled]:focus,
.btn.btn-clear[disabled]:hover,
button.btn-clear[disabled]:hover,
input[type='button'].btn-clear[disabled]:hover,
input[type='reset'].btn-clear[disabled]:hover,
input[type='submit'].btn-clear[disabled]:hover {
  color: #9c27b0;
}
.btn-round {
  border-radius: 20rem;
}
.btn-default {
  background-color: #9e9e9e;
  border-color: #9e9e9e;
  color: #fff;
}
.btn-default:focus,
.btn-default:hover {
  background-color: #919191;
  border-color: #919191;
  color: #fff;
}
.btn-success {
  background-color: #8bc34a;
  border-color: #8bc34a;
  color: #fff;
}
.btn-success:focus,
.btn-success:hover {
  background-color: #7eb73d;
  border-color: #7eb73d;
  color: #fff;
}
.btn-info {
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: #fff;
}
.btn-info:focus,
.btn-info:hover {
  background-color: #00a5bb;
  border-color: #00a5bb;
  color: #fff;
}
.btn-warning {
  background-color: #ff9800;
  border-color: #ff9800;
  color: #fff;
}
.btn-warning:focus,
.btn-warning:hover {
  background-color: #e68900;
  border-color: #e68900;
  color: #fff;
}
.btn-danger {
  background-color: #f44336;
  border-color: #f44336;
  color: #fff;
}
.btn-danger:focus,
.btn-danger:hover {
  background-color: #f32c1e;
  border-color: #f32c1e;
  color: #fff;
}
.btn-outline-default {
  background-color: transparent;
  border-color: #9e9e9e;
  color: #9e9e9e;
}
.btn-outline-default:focus,
.btn-outline-default:hover {
  background-color: transparent;
  border-color: #858585;
  color: #858585;
}
.btn-outline-success {
  background-color: transparent;
  border-color: #8bc34a;
  color: #8bc34a;
}
.btn-outline-success:focus,
.btn-outline-success:hover {
  background-color: transparent;
  border-color: #71a436;
  color: #71a436;
}
.btn-outline-info {
  background-color: transparent;
  border-color: #00bcd4;
  color: #00bcd4;
}
.btn-outline-info:focus,
.btn-outline-info:hover {
  background-color: transparent;
  border-color: #008fa1;
  color: #008fa1;
}
.btn-outline-warning {
  background-color: transparent;
  border-color: #ff9800;
  color: #ff9800;
}
.btn-outline-warning:focus,
.btn-outline-warning:hover {
  background-color: transparent;
  border-color: #cc7a00;
  color: #cc7a00;
}
.btn-outline-danger {
  background-color: transparent;
  border-color: #f44336;
  color: #f44336;
}
.btn-outline-danger:focus,
.btn-outline-danger:hover {
  background-color: transparent;
  border-color: #ea1c0d;
  color: #ea1c0d;
}
body {
  color: #222;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.serif {
  font-family: 'Roboto Slab', serif;
}
b,
strong {
  font-weight: 500;
}
q {
  quotes: "\00ab" "\00bb" "\201C" "\201D";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  margin-bottom: 2rem;
  margin-top: 0;
}
h1 {
  font-size: 3rem;
  line-height: 1.2;
}
h2 {
  font-size: 2.6rem;
  line-height: 1.25;
}
h3 {
  font-size: 2.4rem;
  line-height: 1.3;
}
h4 {
  font-size: 2rem;
  line-height: 1.4;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
}
h6 {
  font-size: 1.6rem;
  line-height: 1.6;
}
@media (min-width: 550px) {
  h1 {
    font-size: 3.6rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.8rem;
  }
  h6 {
    font-size: 1.6rem;
  }
}
a {
  color: #9c27b0;
  text-decoration: none;
}
a:focus,
a:hover {
  color: #9c27b0;
}
.container:after,
.row:after,
.cf {
  clear: both;
  content: "";
  display: table;
}
.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 112rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
}
.col {
  box-sizing: border-box;
  float: left;
  width: 100%;
}
@media (min-width: 400px) {
  .container {
    padding: 0;
    width: 85%;
  }
}
@media (min-width: 550px) {
  .container {
    width: 80%;
  }
  .col {
    margin-left: 4%;
  }
  .col:first-child {
    margin-left: 0;
  }
  .one.col {
    width: 4.66666666667%;
  }
  .two.col {
    width: 13.3333333333%;
  }
  .three.col {
    width: 22%;
  }
  .four.col {
    width: 30.6666666667%;
  }
  .five.col {
    width: 39.3333333333%;
  }
  .six.col {
    width: 48%;
  }
  .seven.col {
    width: 56.6666666667%;
  }
  .eight.col {
    width: 65.3333333333%;
  }
  .nine.col {
    width: 74%;
  }
  .ten.col {
    width: 82.6666666667%;
  }
  .eleven.col {
    width: 91.3333333333%;
  }
  .twelve.col {
    margin-left: 0;
    width: 100%;
  }
  .one-third.col {
    width: 30.6666666667%;
  }
  .two-thirds.col {
    width: 65.3333333333%;
  }
  .one-half.col {
    width: 48%;
  }
  .offset-by-one.col {
    margin-left: 8.66666666667%;
  }
  .offset-by-two.col {
    margin-left: 17.3333333333%;
  }
  .offset-by-three.col {
    margin-left: 26%;
  }
  .offset-by-four.col {
    margin-left: 34.6666666667%;
  }
  .offset-by-five.col {
    margin-left: 43.3333333333%;
  }
  .offset-by-six.col {
    margin-left: 52%;
  }
  .offset-by-seven.col {
    margin-left: 60.6666666667%;
  }
  .offset-by-eight.col {
    margin-left: 69.3333333333%;
  }
  .offset-by-nine.col {
    margin-left: 78%;
  }
  .offset-by-ten.col {
    margin-left: 86.6666666667%;
  }
  .offset-by-eleven.col {
    margin-left: 95.3333333333%;
  }
  .offset-by-one-third.col {
    margin-left: 34.6666666667%;
  }
  .offset-by-two-thirds.col {
    margin-left: 69.3333333333%;
  }
  .offset-by-one-half.col {
    margin-left: 52%;
  }
}
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  width: 100%;
}
.flex-row.row-no-padding {
  padding: 0;
}
.flex-row.row-no-padding > .col {
  padding: 0;
}
.flex-row.row-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.flex-row.row-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.flex-row.row-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.flex-row.row-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-row.row-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.flex-row.row-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.flex-row .col {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
}
.flex-row .col.col-offset-10 {
  margin-left: 10%;
}
.flex-row .col.col-offset-20 {
  margin-left: 20%;
}
.flex-row .col.col-offset-25 {
  margin-left: 25%;
}
.flex-row .col.col-offset-33,
.flex-row .col.col-offset-34 {
  margin-left: 33.3333%;
}
.flex-row .col.col-offset-50 {
  margin-left: 50%;
}
.flex-row .col.col-offset-66,
.flex-row .col.col-offset-67 {
  margin-left: 66.6666%;
}
.flex-row .col.col-offset-75 {
  margin-left: 75%;
}
.flex-row .col.col-offset-80 {
  margin-left: 80%;
}
.flex-row .col.col-offset-90 {
  margin-left: 90%;
}
.flex-row .col.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  max-width: 10%;
}
.flex-row .col.col-20 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
}
.flex-row .col.col-25 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
.flex-row .col.col-33,
.flex-row .col.col-34 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333%;
          flex: 0 0 33.3333%;
  max-width: 33.3333%;
}
.flex-row .col.col-40 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
}
.flex-row .col.col-50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
.flex-row .col.col-60 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
}
.flex-row .col.col-66,
.flex-row .col.col-67 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666%;
          flex: 0 0 66.6666%;
  max-width: 66.6666%;
}
.flex-row .col.col-75 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}
.flex-row .col.col-80 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80%;
          flex: 0 0 80%;
  max-width: 80%;
}
.flex-row .col.col-90 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  max-width: 90%;
}
.flex-row .col .col-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.flex-row .col .col-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.flex-row .col .col-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (min-width: 40rem) {
  .flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: -1rem;
    width: calc(100% + 2rem);
  }
  .flex-row .col {
    margin-bottom: inherit;
    padding: 0 1rem;
  }
}
.btn,
button,
dd,
dt,
li {
  margin-bottom: 1rem;
}
fieldset,
input,
select,
textarea {
  margin-bottom: 1.5rem;
}
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2rem;
}
hr {
  border: 0;
  border-top: 0.1rem solid #ddd;
  margin: 3rem 0;
}
blockquote {
  border-left: 0.3rem solid #9c27b0;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem;
}
blockquote >footer {
  color: #9e9e9e;
  font-size: 90%;
  padding-top: 0.5rem;
}
blockquote >footer::before {
  content: "– ";
}
blockquote *:last-child {
  margin-bottom: 0;
}
code {
  background: #292929;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  color: #ddd;
  font-family: Consolas, "courier new";
  margin: 0 0.2rem;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre;
}
table {
  border-spacing: 0;
  width: 100%;
}
th {
  font-weight: 400;
}
td,
th {
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
  text-align: center;
}
td:first-child,
th:first-child {
  padding-left: 0;
}
td:last-child,
th:last-child {
  padding-right: 0;
}
.striped tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}
.hover tbody tr:hover {
  background-color: #e1e1e1;
}
img {
  height: auto;
  max-width: 100%;
}
dl,
ol,
ul {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
dl dl,
ol dl,
ul dl,
dl ol,
ol ol,
ul ol,
dl ul,
ol ul,
ul ul {
  margin: 1.5rem 0 1.5rem 4rem;
}
ol {
  list-style: decimal inside;
}
ol ol {
  list-style: lower-alpha inside;
}
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 0.1rem solid #ddd;
  border-radius: 0.4rem;
  box-shadow: none;
  box-sizing: inherit;
  font-weight: 300;
  height: 3.8rem;
  padding: 0.6rem 1rem;
  width: 100%;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-color: #9c27b0;
  outline: 0;
}
select {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 29 14' width='29'><path fill='#d1d1d1' d='M9.37727 3.625l5.08154 6.93523L19.54036 3.625'/></svg>") center right no-repeat;
  padding-right: 3rem;
}
select:focus {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='14' viewBox='0 0 29 14' width='29'><path fill='#9b4dca' d='M9.37727 3.625l5.08154 6.93523L19.54036 3.625'/></svg>");
}
textarea {
  min-height: 6.5rem;
}
label,
legend {
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
fieldset {
  border-width: 0;
  padding: 0;
}
input[type='checkbox'],
input[type='radio'] {
  display: inline;
}
.label-inline {
  display: inline-block;
  font-weight: normal;
  margin-left: 0.5rem;
}
.card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
}
.card .card-title {
  font-size: 2.5rem;
  padding: 25px 25px 0;
}
.card .card-content {
  padding: 0 25px 25px;
}
.text-center {
  text-align: center;
}
.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}
.justify {
  text-align: justify;
}
.light {
  font-weight: 100;
}
.uppercase {
  text-transform: uppercase;
}
.xl {
  font-size: 2.6rem;
}
.xxl {
  font-size: 3.4rem;
}
.xxxl {
  font-size: 4rem;
}
.jumbo {
  font-size: 5rem;
}
@media (min-width: 550px) {
  .xl {
    font-size: 3rem;
  }
  .xxl {
    font-size: 4rem;
  }
  .xxxl {
    font-size: 5rem;
  }
  .jumbo {
    font-size: 6rem;
  }
}
.space {
  display: block;
  height: 100px;
}
.space-25 {
  display: block;
  height: 25px;
}
.space-50 {
  display: block;
  height: 50px;
}
.full-width {
  width: 100%;
}
.top,
.bottom {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.top {
  top: 0;
}
.bottom {
  bottom: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.circle {
  border-radius: 50%;
}
.border-0 {
  border: 0;
}
.border {
  border: 1px solid #9c27b0;
}
.border-top {
  border-top: 1px solid #9c27b0;
}
.border-bottom {
  border-bottom: 1px solid #9c27b0;
}
.border-left {
  border-left: 1px solid #9c27b0;
}
.border-right {
  border-right: 1px solid #9c27b0;
}
.margin {
  margin: 16px;
}
.margin-0 {
  margin: 0;
}
.margin-top {
  margin-top: 16px;
}
.margin-bottom {
  margin-bottom: 16px;
}
.margin-left {
  margin-left: 16px;
}
.margin-right {
  margin-right: 16px;
}
.padding-xs {
  padding: 2px 4px;
}
.padding-sm {
  padding: 4px 8px;
}
.padding {
  padding: 8px 16px;
}
.padding-large {
  padding: 12px 24px;
}
.padding-xl {
  padding: 16px 32px;
}
.padding-xxl {
  padding: 24px 48px;
}
.padding-top {
  padding-top: 8px;
}
.padding-bottom {
  padding-bottom: 8px;
}
.padding-left {
  padding-left: 16px;
}
.padding-right {
  padding-right: 16px;
}
.padding-0 {
  padding: 0;
}
